#app,html{
	background: #F8FAFC;
	height: 0;
}
.xs-visit-top{
	width: 100%;
	height: 3.06rem;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	line-height: 3.06rem;
	font-size: 0.88rem;
	color: rgba(80, 80, 80, 1);
	position: relative;
	border-bottom: 0.07rem solid rgba(80, 80, 80, 1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	
}
.goback{
	position: absolute;
	top: 0.75rem;
	left: 0.63rem;
	width: 1.5rem;
	height: 1.5rem;
}
.xs-visit-title{
	width: 100%;
	height: 3.85rem;
	position: relative;
	margin-top: 3.06rem;
}
.xs-visit-title span{
	line-height: 3.85rem;
	color: rgba(80, 80, 80, 1);
	font-size: 1.25rem;
	font-weight: bold;
	padding-left: 1.35rem;
	position: absolute;
}
.yuan{
	width: 1.84rem;
	height: 1.84rem;
	border-radius: 50%;
	background: rgba(24, 144, 255, 1);
	position: absolute;
	top: 0.65rem;
	left: 0.6rem;
}
.dataList{
	width: 100%;
	height: 3rem;
	background: rgba(255, 255, 255, 1);
	position: relative;
}
.xs-grinfo-container{
	margin-top: 0.65rem;
}
.xs-visit-leftbox{
	width: 7rem;
	line-height: 3rem;
	padding-left: 0.63rem;
	float: left;
	font-size: 0.88rem;
	color: rgba(80, 80, 80, 1);
}
.xs-visit-rightbox{
	float: left;	
	font-size: 0.88rem;
	color: rgba(153, 153, 153, 1);
}
.xs-visit-data{
	position: absolute;
	right: 0.62rem;
	line-height: 3rem;
	
}
.data{
	display: inline-block;
}
.rightico{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.88rem;
}
.ico{
	float: right;
}
.timer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.line{
	width: 100%;
	height: 0.3rem;
	background: #F8FAFC;
}
.line2{
	width: 100%;
	height: 0.69rem;
	background: #F8FAFC;
}
.WorkBox{
	width: 100%;
	height: 8.62rem;
	background: rgba(255, 255, 255, 1);
	margin-bottom: 0.64rem;
}
.WorkBox-div{
	padding: 0.63rem 0.65rem 0.63rem 0.63rem;
}
.WorkBox-div p{
	font-size: 0.75rem;
	color: rgba(153, 153, 153, 1);
}
.todayWrite{
	padding-top: 0.62rem;
	width: 22.16rem;
	height: 5.62rem;
}
.write{
	width: 100%;
	height: 100%;
	color: rgba(102, 102, 102, 1);
	font-size: 0.88rem;
	outline: none;
	border: none;
	resize:none;
	font-family:  Microsoft YaHei;
}
.xs-report-subdiv{
	width: 21.24rem;
	height: 2.93rem;
	margin: 0 auto;
}
.xs-report-subdiv button{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	border: 0;
	outline: none;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	border-radius: 0.37rem;
	box-shadow: rgba(0, 0, 0, 0.2) solid 0.07rem;
	border: 0.06rem solid rgba(0, 0, 0, 0.2);
}
.space{
	width: 100%;
	height: 2.17rem;
}
.xm{
	position: relative;
}
s
.xs-visit-xmselect{
	width: 100%;
	height: 3rem;
	background: rgba(255, 255, 255, 1);
	position: absolute;
	top: 3.5rem;
	
}
.xs-visit-xmselect ul{
	background: #fff;
}
