#app{
	background: #F8FAFC;
}
.xs-visit-top{
	width: 100%;
	height: 3.06rem;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	line-height: 3.06rem;
	font-size: 0.88rem;
	color: rgba(80, 80, 80, 1);
	position: relative;
	border-bottom: 0.07rem solid rgba(80, 80, 80, 1);
}
.goback{
	position: absolute;
	top: 0.75rem;
	left: 0.63rem;
	width: 1.5rem;
	height: 1.5rem;
}
.xs-visit-title{
	width: 100%;
	height: 3.85rem;
	position: relative;
}
.xs-visit-title span{
	line-height: 3.85rem;
	color: rgba(80, 80, 80, 1);
	font-size: 1.25rem;
	font-weight: bold;
	padding-left: 1.35rem;
	z-index: 99;
	position: absolute;
}
.yuan{
	width: 1.84rem;
	height: 1.84rem;
	border-radius: 50%;
	background: rgba(24, 144, 255, 1);
	position: absolute;
	top: 0.65rem;
	left: 0.6rem;
}
.dataList{
	width: 100%;
	height: 3rem;
	background: rgba(255, 255, 255, 1);
	position: relative;
}
.xs-grinfo-container{
	margin-top: 0.65rem;
}
.xs-visit-leftbox{
	width: 7rem;
	line-height: 3rem;
	padding-left: 0.63rem;
	float: left;
	font-size: 0.88rem;
	color: rgba(80, 80, 80, 1);
}
.xs-visit-rightbox{
	float: left;	
	font-size: 0.88rem;
	color: rgba(153, 153, 153, 1);
}
.xs-visit-data{
	position: absolute;
	right: 0.62rem;
	line-height: 3rem;
	
}
.data{
	display: inline-block;
}
.rightico{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.88rem;
}
.ico{
	float: right;
}
.timer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
